body {
    margin: 0px;
    padding: 0px;
    background-color: #324651;
}

#container {
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(0%, 0%, 0%, 100%, 100%, 100%, 100%, 0%, 0%, 0%);
    overflow: hidden;
    transition: all .5s;
    clip-path: polygon(0%, 0%, 0%, 100%, 100%, 100%, 100%, 0%, 0%, 0%);
}

#slider {
    width: 300%;
    position: relative;
    left: 0;
}

#slider img {
    width: 33.33%;
    float: left;
}

#nextBtn,
#prevBtn {
    height: 35px;
    width: 35px;
    background-color: white;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    border-radius: 35px;
    position: fixed;
    top: 85%;
    left: 53%;
    cursor: pointer;
}

#prevBtn {
    left: 47%;
}